@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    font-size: 18px;

}

#nav {
    background-color: #97cadb;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav ul li {
    list-style: none;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#nav ul#logo li {
    float: left;
    border-radius: 8px;
}

#nav ul#menu li {
    float: right;
    border-radius: 8px;
}

.clearfix {
    position: relative;
    overflow: hidden;
}

#nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

#nav ul#menu li:hover {
    background-color: #02457a;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}


