@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');


:root {
    --shadow: #97cadb;
    --grey: #e7e7e7d5;
    --white: #f0f0f0;
    --blue: #97cadbce;
    --fonte-principal: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
}



body {
    font-family: var(--fonte-principal);
    font-size: 18px;

}

a {
    text-decoration: none;
    color: var(--white);
}
nav {
    background-color: var(--shadow);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 21px 44px -1px rgba(0, 0, 0, 0.63);
    font-size: 16px;
}

nav ul li {
    list-style: none;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul#logo li {
    float: left;
    border-radius: 8px;
}

nav ul#menu li {
    float: right;
    border-radius: 8px;
}

nav ul.right li {
    float: right;
}


.clearfix {
    position: relative;
    overflow: hidden;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--white);
    text-decoration: none;
}

nav ul#menu li:hover {
    background-color: #0e4b7c4d;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}

[class*="col-"] {
    float: left;
    padding-right: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 24.99%;
}

.col-4 {
    width: 33.32%;
}

.col-5 {
    width: 41.65%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.31%;
}

.col-8 {
    width: 66.32%;
}

.col-9 {
    width: 74.97%;
}

.col-10 {
    width: 83.3%;
}

.col-11 {
    width: 91.63%;
}

.col-12 {
    width: 100%;
}


.main {
    padding-top: 80px;
    background-color: var(--blue);
    padding-bottom: 80px;
    text-align: center;
    font-size: 30px;
}

.main h1 {
    color: var(--white);
}

.main h6 {
    color: var(--white);
    font-weight: 400;
}

.jogos {
    padding-top: 80px;
    background-color: var(--white);
    padding-bottom: 80px;
    text-align: center;
    font-size: 30px;
}

.jogos h1 {
    color: var(--shadow);
    font-size: 50px;
}

.jogos h6 {
    color: var(--shadow);
    font-weight: 400;
}


 button {
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 18px;
    width: 200px;
    height: 3px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    border-radius: 150px;
    background-color: var(--shadow);
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.maratona {
    padding-top: 80px;
    background-color: var(--white);
    padding-bottom: 80px;
    text-align: center;
    font-size: 30px;
}

.maratona h1 {
    color: var(--shadow);
    font-size: 50px;
}

.maratona h6 {
    color: var(--shadow);
    font-weight: 400;
}

.maratona button {
    margin-top: 30px;
}

.galeria {
    padding-top: 80px;
    background-color: var(--blue);
    padding-bottom: 80px;
    text-align: center;
    font-size: 30px;
}

.galeria h1 {
    color: var(--white);
    font-size: 50px;
    padding: 25px;
}

.acessar {
    background-color: var(--white);
    color: var(--shadow);
}
.botao-vertical {
    transform: rotate(90deg);
    margin-left: 400px;
    background-color: var(--white);
    color: var(--shadow);
}

h1 {
    line-height: 1;
    line-height: 40px;
    line-height: 1.1;
}

.margem {
    margin-top: 10px;
}

footer {

    padding-top: 40px;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;

}

#direita {
    float: right;
}


.rodape {
    font-size: 15px;
    text-align: center;
    padding: 15px 0;
    margin-left: 10px;
}

.apoiadores {
    background-color: var(--white);
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 30px;
    color: var(--shadow);
}

.logo {
    display: inline-block;
    width: 300px;
    margin: 1%;
    align-items: center;

}

.cronograma {
    padding-top: 40px;
    color: var(--white);
    background-color: var(--blue);
    padding-bottom: 200px;
    text-align: center;
    font-size: 30px;
}
.cronograma h1 {
    padding-bottom: 50px;
}

.titulo {
    background-color: var(--white);
    color: var(--shadow);
    border-radius: 10px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px ;
}

 .dia {
    font-size: 15px;
    color: var(--shadow);
    background-color: var(--grey);
    width: 280px;
    border-radius: 10px;
 }

 .navs {
    background-color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 21px 44px -1px rgba(49, 49, 49, 0.63);
    font-size: 16px;
}

.navs ul li {
    list-style: none;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.navs ul#logo li {
    float: left;
    border-radius: 8px;
}

.navs ul#menu li {
    float: right;
    border-radius: 8px;
}

.navs ul.right li {
    float: right;
}

.navs ul li a {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--shadow);
    text-decoration: none;
}

.navs ul#menu li:hover {
    background-color: #0e4b7c4d;
}

form {
    overflow: hidden;
}

.logo {
    float: left;
}

form fieldset {
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 150px;
    padding-right: 5px;
}

.input-container {
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 50%;
    padding: 10px;
    border: none;
    color: var(--shadow);
    background-color: var(--white);
}

::placeholder {
    color: var(--shadow);
}

.actions button {
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 18px;
    width: 150px;
    height: 3px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    border-radius: 150px;
    background-color: var(--shadow);
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-top: 70px;
    margin-bottom: 50px ;
}
